i.massive {
  font-size: 8.5rem;
  height: 9rem;
  width: 9rem;
  /* line-height: 9rem; */
}

:is(button, .button).massive {
  height: 12rem;
  width: 12rem;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
